/**
 * code by https://github.com/mrcoles/markdown-css
 * with some modifications
 */

.hack {
  word-wrap: break-word;
}
.hack,
.hack h1,
.hack h2,
.hack h3,
.hack h4,
.hack h5,
.hack h6,
.hack code,
.hack blockquote,
.hack em,
.hack strong,
.hack code {
  font-size: 1rem;
  line-height: $lh;
  font-style: normal;
  font-family: $font-family-code;
}
.hack h1,
.hack h2,
.hack h3,
.hack h4,
.hack h5,
.hack h6,
.hack code,
.hack blockquote,
.hack ol,
.hack ul,
.hack dl,
.hack li,
.hack p,
.hack section,
.hack header,
.hack footer {
  float: none;
  margin: 0;
  padding: 0;
}
.hack h1,
.hack p,
.hack ul,
.hack dl,
.hack ol,
.hack blockquote {
  margin-top: $lh;
  margin-bottom: $lh;
}
.hack h1 {
  position: relative;
  display: inline-block;
  display: table-cell;
  padding: $lh 0 (2 * $lh);
  margin: 0;
  overflow: hidden;
}
.hack h1:after {
  content: "====================================================================================================";
  position: absolute;
  bottom: 0.8 * $lh;
  left: 0;
}
.hack h1 + * {
  margin-top: 0;
}
.hack h2,
.hack h3,
.hack h4,
.hack h5,
.hack h6 {
  position: relative;
  margin-bottom: $lh;
}
.hack h1,
.hack h2 {
  line-height: $lh;
}
.hack h2:before,
.hack h3:before,
.hack h4:before,
.hack h5:before,
.hack h6:before {
  display: inline;

  @media screen and (min-width: $breakpoint-wide) {
    display: block;
    position: absolute;
    transform: translateX(-100%);
    padding-right: 0.6rem;
  }
}
.hack h2:before {
  content: "## ";
}
.hack h3:before {
  content: "### ";
}
.hack h4:before {
  content: "#### ";
}
.hack h5:before {
  content: "##### ";
}
.hack h6:before {
  content: "###### ";
}
.hack li {
  position: relative;
  display: block;
  padding-left: $lh;
}
.hack li:before {
  position: absolute;
  top: 0;
  left: 0;
}
.hack ul > li:before {
  content: "-";
}
.hack ol {
  counter-reset: ol;
}
.hack ol > li:before {
  content: counter(ol) ".";
  counter-increment: ol;
}
.hack blockquote {
  position: relative;
  padding-left: 17px;
  padding-left: 2ch;
  overflow: hidden;
}
.hack blockquote:after {
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  line-height: $lh;
}
.hack em:before,
.hack em:after {
  content: "*";
  display: inline;
}
.hack pre code:before,
.hack pre code:after {
  content: '';
}
.hack code {
  color: $grey-700;
  font-weight: bold;
}
.hack a code {
  color: $link-color;
}
.hack a:hover code {
  color: white;
}
.hack code:before,
.hack code:after {
  content: "`";
  display: inline;
}

.hack hr {
  position: relative;
  height: $lh;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border: 0;
  margin-bottom: $lh;
}
.hack hr:after {
  content: "- - -";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  line-height: $lh;
  width: 100%;
  word-wrap: break-word;
  color: $grey-500;
}
@-moz-document url-prefix() {
  .hack h1 {
    display: block;
  }
}
.hack-ones ol > li:after {
  content: "1.";
}
