html {
  font-size: $font-size-base;
}

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  font-family: $font-family;
  color: $text-color;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

pre {
  padding: 2rem;
  margin: 1.75rem 0;
  background-color: white;
  border: 1px solid #ccc;
  overflow: auto;
}

pre code,
code[class*="language-"], pre[class*="language-"] {
  font-weight: 100;
  text-shadow: none;
  margin: 1.75rem 0;
}

a {
  cursor: pointer;
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid $link-color;
}

a:hover {
  background-color: $link-color;
  color: white;
}
