@import "color-preset";

/**
 * vars
 */
$text-color: $grey-900;
$light-grey: $grey-600;
$link-color: #FF2E88;

$font-size-base: 14px;
$font-family-code: Menlo, Monaco, "Droid Sans", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
$font-family: $font-family-code;

$lh: 1.5rem; // vertical rhythm

$max-width: 60rem;
$breakpoint-wide: $max-width + 6rem;
