{{ define "main" }}
<article class="page">
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{- with .Pages }}
  <ul class="post-list">
    {{- range . }}
    <li>
      <a class="post-link" href="{{ .RelPermalink }}">
        <span class="post-title">{{ .Title }}</span>
        {{- with .Date }}
        <time class="post-date" datetime="{{ .Format "2006-01-02" }}">{{ .Format "2 Jan 2006" }}</time>
        {{- end }}
        {{- with .Pages }}
        <span class="post-count">{{ len . }} posts</span>
        {{- end }}
      </a>
    </li>
    {{- end }}
  </ul>
  {{- end }}
</article>
{{ end }}
