{{ define "main" }}

<nav class="breadcrumb" aria-label="Breadcrumb">
  <a href="/">&larr; Home</a>
</nav>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
    <p class="post-meta">
      Published <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished">{{ .Date.Format "2 Jan 2006" }}</time>
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"> by <span itemprop="name">{{ site.Params.author }}</span></span>
      and published in <a href="{{ site.BaseURL }}">{{ site.Title }}</a>.
      {{- with .Params.categories }}
        Labeled as {{ range $i, $cat := . }}{{ if $i }}{{ if eq $i (sub (len $.Params.categories) 1) }} and {{ else }}, {{ end }}{{ end }}<em>{{ $cat }}</em>{{ end }}.
      {{- end }}
    </p>
  </header>

  {{- $toc := .TableOfContents }}
  {{- if gt (len (plainify $toc)) 0 }}
  <aside class="post-toc" aria-label="Table of Contents">
    <header aria-hidden>
      {{ $.Title }}
    </header>
    <p>Chapters</p>
    {{ $toc | safeHTML }}
  </aside>
  {{- end }}

  <div class="post-content" itemprop="articleBody">
    {{ .Content }}
  </div>

  {{- /* insert this JS here to not rerender */ -}}
  {{- $sidenotes := resources.Get "sidenotes.js" | minify }}
  <script>{{ $sidenotes.Content | safeJS }}</script>

  <footer class="article-footer">
    <p>
      Thanks for reading.
      {{- with site.Params.post_revisions_url }} <a href="{{ . }}{{ $.File.Path }}">Revision history.</a>{{ end }}
    </p>
    {{- with .Params.discussions }}
    <p>
      This post has been discussed on&nbsp;
      {{- $len := len . }}
      {{- $i := 0 }}
      {{- range $name, $url := . }}
        {{- if $i }}{{ if eq $i (sub $len 1) }} and {{ else }}, {{ end }}{{ end -}}
        <a href="{{ $url }}">{{ $name }}</a>
        {{- $i = add $i 1 }}
      {{- end }}.
    </p>
    {{- end }}
    <p>
      <a href="{{ site.BaseURL }}">Back to index</a>.
    </p>
  </footer>

  {{- /*
  {{- with .Params.discussions.Bluesky }}
  <footer class="comments">
      <sequoia-comments post-uri="{{ . }}">
        <a slot="reply-button" href="{{.}}">
          Reply on Bluesky!
        </a>
      </sequoia-comments>
  </footer>
  {{- $comments := resources.Get "sequoia-comments.js" | minify | fingerprint }}
  <script>
    (() => {
      const footer = document.currentScript.previousElementSibling;
      const load = () => {
        const s = document.createElement('script');
        s.type = 'module';
        s.src = {{ $comments.RelPermalink }};
        {{ with $comments.Data.Integrity }}s.integrity = {{ . }};{{ end }}
        s.crossOrigin = 'anonymous';
        document.head.appendChild(s);
      };
      if ('IntersectionObserver' in window) {
        const io = new IntersectionObserver((entries, obs) => {
          if (entries.some(e => e.isIntersecting)) {
            obs.disconnect();
            load();
          }
        }, { rootMargin: '200px 0px' });
        io.observe(footer);
      } else {
        load();
      }
    })();
  </script>
  {{- end }}
  */ -}}
</article>


{{ end }}
