---
---
@charset "utf-8";

// hack.css v0.5.2
@import 'hack/vars';
@import 'hack/mixins';
@import 'hack/reset';
@import 'hack/grid';
@import 'hack/markdown';
@import 'hack/layout';
@import 'hack/responsive';
// @import 'hack/components/alerts';
// @import 'hack/components/buttons';
// @import 'hack/components/card';
// @import 'hack/components/form';
// @import 'hack/components/holders';
// @import 'hack/components/loading';
// @import 'hack/components/media';
// @import 'hack/components/menu';
// @import 'hack/components/progress-bar';
@import 'hack/components/table';
@import 'highlight-github';

footer.site-footer {
  margin-top: 3rem;
  border-top: 2px solid $grey-400;
  padding-top: 2rem;
}

footer.article-footer {
  margin: 3rem 0 2rem;
}

.highlight {
  code {
    font-weight: normal;
  }
}

.hack ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
