<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
  <div class="hack container">
    {{content}}
  </div>
  <footer class="container site-footer">
    <p>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a>
      /
      <a href="https://twitter.com/{{site.author.twitter}}">Follow me on Twitter</a>
    </p>
    <p>
      <a href="{{site.license_url}}" rel="license">&copy; Copyright 2015-{{ site.time | date:"%Y" }} {{site.author.name}}</a>
      /
      <a href="{{site.imprint_url}}">Imprint</a>
    </p>
  </footer>
</body>
</html>
