---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      Created <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.author %} by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author.name }}</span></span>{% endif %}
      and published in <a href="{{site.url}}">{{site.title}}</a>.
      {% if page.categories.size > 0 %}
        Labeled as {% for category in page.categories %}{% unless forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endunless %}<em>{{ category }}</em>{% endfor %}.
      {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="article-footer">
    Thanks for reading.
    <a href="{{ site.url }}">Back to index</a>.
    <a href="{{site.feedback_url}}">Tell me how wrong I am</a>.
  </footer>
</article>
