/**
 * Form
 */
.form {
  width: 30rem
}

.form-group {
  margin-bottom: 1.75rem;
  overflow: auto;
  & label {
    border-bottom: 2px solid #ccc;
    color: #333;
    width: 8.5rem;
    display: inline-block;
    height: 3.1666rem;
    line-height: 3.1666rem;
    padding: 0;
    float: left;
    position: relative;
  }

  &.form-success label {
    @include form-label($green);
  }

  &.form-warning label {
    @include form-label($orange);
  }

  &.form-error label {
    @include form-label($red);
  }
}

.form-control {
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: .5rem 0;
  width: 18rem;
  height: 3.1666rem;
  background-color: transparent;
  &:focus {
    border-color: #555;
  }
}

.form-group.form-textarea label:after {
  position: absolute;
  content: '';
  width: 2px;
  background-color: white;
  right: -2px;
  top: 0;
  bottom: 0;
}

textarea.form-control {
  height: auto;
  resize: none;
  padding: 1rem 0;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  padding: .5rem;
}

select.form-control {
  border-radius: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.help-block {
  color: #999;
  margin-top: .5rem;
}

.form-actions {
  margin-bottom: 1.75rem;
}
