/**
 * Holders
 */
.placeholder,
.avatarholder {
  background-color: #f0f0f0;
  text-align: center;
  color: #b9b9b9;
  font-size: 1rem;
  border: 1px solid #f0f0f0;
}

.avatarholder {
  width: 4rem;
  height: 4rem;
  line-height: 3.8333rem;
  font-size: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.rounded {
    border-radius: 2.75rem;
  }
}
