/**
 * Loading
 */
.loading {
  height: 20px;
  width: 20px;
  animation: rotate 0.6s infinite linear;
  border: 2px solid $pink;
  border-right-color: transparent;
  border-radius: 50%;
}

.btn .loading {
  display: inline-block;
  float: left;
  margin-right: .5rem;
  width: 14px;
  height: 14px;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
