/**
 * Table
 */

table {
	$border-width: 1px;

  width: 100%;
  display: block;
  overflow-x: scroll;
  border-collapse: collapse;
  margin: $lh 0;

  td,
  th {
    vertical-align: top;
    border: $border-width solid $bright-grey;
    line-height: $lh;
    padding: ($lh / 2);
    padding: calc(#{$lh / 2} - #{$border-width}) ($lh / 2);
  }

  thead th,
  tfoot td	{
    font-weight: bold;
  }

	tfoot tr:first-child td {
	  $border-width: 2px;

		border-top-width: $border-width;
    padding-top: calc(#{$lh / 2} - #{$border-width});
	}
}
